/*-------------------------------------
---------------------------------------
---------------HTML TAGS---------------
---------------------------------------
-------------------------------------*/

input, textarea {
  margin-top: 6px;

  font-size: 12px;
}


  /*--------------------
  ----------TH----------
  --------------------*/

  th {
    text-align: center;
  }


/*-------------------------------------
---------------------------------------
---------------BOOTSTRAP---------------
---------------------------------------
-------------------------------------*/

  /*----------------------------------
  ----------TABLE RESPONSIVE----------
  ----------------------------------*/

  .table-responsive {
    font-size: 12px;
  }


/*------------------------------------
--------------------------------------
--------------CORE CORE---------------
--------------------------------------
------------------------------------*/

#coreCore {
  margin-top: 30px;
}


  /*-------------------------------
  ----------ACTION RESULT----------
  -------------------------------*/

  /* Action result is a message shown to the user after he makes an action
     like posting or modifying a blog post. It shows him if the operation was successful or not. */
  #actionResult {
    font-size: 12px;
  }
