/*-------------------------------------
---------------------------------------
---------------JUMBOTRON---------------
---------------------------------------
-------------------------------------*/

.jumbotron {
  height: 350px;

  background: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/Center_of_the_Milky_Way_Galaxy_III_%E2%80%93_Chandra_(X-ray).jpg");
  background-size: 300%;

  color: #FFFFFF;
}

.vertical-center {
  padding: auto;
}

.jumbotron h1 {
  margin-bottom: 20px;
}
