#top_block {
  float: right;

  font-family: 'Source Sans Pro', sans-serif;
}

#welcome_message {
  font-weight: bold;
  padding-right: 7px;
}

#right_buttons {
  margin-top: 10px;
}

.right_buttons_element {

  background-color: rgb(86, 86, 86);
  color: rgb(255, 255, 255);

  font-size: 14px;
  text-decoration: none;

  border-bottom: 3px solid rgb(60, 60, 60);

  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

.right_buttons_element:hover {
  background-color: rgb(96, 96, 96);
}
