#comments {
	padding-top: 30px;
	border-top: solid 1px #D5D5D5;
}

#show_comments {
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 30px;
}

.comment {
	padding-left: 10px;
	padding-bottom: 20px;
}

.comment_background0, .comment_background1 {
	padding-top: 10px;
}

.comment_background0 { /* White background comment. */
	background-color: #FFFFFF;
}

.comment_background1 { /* Grey background comment. */
	background-color: #EDEDED;
}

.comment_author {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -1px;
	color: #27d;
}

.comment_post_date {
	font-size: 0.9em;
	color: #848484;
	letter-spacing: .09em;
}

.comment_post_date_clock_image {
	height: 13px;
	width: 13px;
}

.comment_content {
	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 1.2em;
	line-height: 1.8em;
}

#post_comment_textarea {
	background-color: #FAFAFA;
	resize: none;
}

#post_comment_button { /* The button of which we must click to send a comment. */
	float: right;
	margin-right: 180px;
	margin-bottom: 15px;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#post_comment_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
	border:1px solid #D8D8D8;
}
#post_comment_button:active {
	position:relative;
	top:1px;
}