/*---------------------------------------
-----------------------------------------
--------------CORE CONTENT---------------
-----------------------------------------
---------------------------------------*/

#blog_options_manager_form {
  margin-top: 30px;
}


  /*------------------------------------
  ----------UPDATE RESULT SPAN----------
  ------------------------------------*/

  #blogOptionsUpdateResult {
    color: #00FF00;
    font-size: 12px;
  }
