/*-------------------------------------
---------------------------------------
---------------JUMBOTRON---------------
---------------------------------------
-------------------------------------*/

.jumbotron {
  height: 280px;

  background-size: 300%;

  color: #FFFFFF;
}

.jumbotron h1 {
  margin-bottom: 20px;
}

/*--------------------------------
----------------------------------
---------------POST---------------
----------------------------------
--------------------------------*/

#posts {
  margin: auto;
  width: 70vw;
  text-align: left;
}

.post {
  margin-bottom: 65px;
}

  /*----------------------
  ----------DATE----------
  ----------------------*/

  .postTitle {
    font-size: 30px;
  }

  /*----------------------
  ----------DATE----------
  ----------------------*/

  .postDate {
    margin: 10px 0;
    color: #9a9a9a;
    font-size: 12px;
  }
