/*-------------------------------------
---------------------------------------
---------------JUMBOTRON---------------
---------------------------------------
-------------------------------------*/

.jumbotron {
  height: 280px;

  background-size: 300%;

  color: #FFFFFF;
}

.jumbotron h1 {
  margin-bottom: 20px;
}
