body {
	background-color: #EDEDED;
	font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
	font-size: 80%;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

#core {
	overflow: hidden;
	width: 50%;
	min-width: 780px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;

	background-color: #FFFFFF;
}

#header {
	height: 200px;
}

#banner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	text-align: center;
	font-size: 400%;
}

#menu {
	height: 30px;
	margin-bottom: 35px;
	background-color: #000000;

	text-decoration: none;
	color: #FFFFFF;
}

.menu_element_left:hover, .menu_element_right:hover {
	background-color: #333;

}

.menu_element_left, .menu_element_right {
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	margin-top:7px;
}

.menu_element_left {
	float: left;
	margin-left: 15px;
}

.menu_element_right {
	float: right;
	margin-right: 15px;
}

.actual_page {
	background-color: #FFFFFF;
	color: #000000;
}

.actual_page:hover {
	background-color: #FFFFFF;
}

#right_core, #left_core {
	margin: 20px;
}

#right_core {
	float: right;
	max-width: 14%;

	border-left: solid 1px #D5D5D5;
	padding: 20px;
}

.right_core_group {
	padding-bottom: 25px;
}

.right_core_title {
	display: block;
	margin-bottom: 25px;

	color: #444;
	font-size: 1.4em;
	font-weight: normal;
	letter-spacing: -1px;
}

#left_core {
	float: left;
	width: 70%;
}

.entry {
	display: block;
	margin-bottom:50px;
}

.title {
	color: #444;
	font-size: 2.4em;
	font-weight: normal;
	letter-spacing: -1px;
}

.post_date {
	background-image: url("../images/clock.png");

	font-size: 0.8em;
	color: #bbb;
	letter-spacing: .07em;
}

.post {
	display: block;
	margin-top: 10px;

	font-size: 1.2em;
	line-height: 1.8em;
	text-align: justify;
	color: #444;				
}