/*-------------------------------------
---------------------------------------
---------------JUMBOTRON---------------
---------------------------------------
-------------------------------------*/

.jumbotron {
  opacity: 0;

  height: 280px;

  background-size: 300%;

  color: #FFFFFF;
}

.jumbotron h1 {
  margin-bottom: 20px;
}

/*--------------------------------
----------------------------------
---------------POST---------------
----------------------------------
--------------------------------*/

#posts, #postsArrows {
  width: 70vw;
}

#posts {
  margin: auto;
  text-align: left;
}

.post {
  margin-bottom: 65px;
}


  /*-----------------------
  ----------TITLE----------
  -----------------------*/

  .postTitle {
    font-size: 30px;
  }

  /*----------------------
  ----------DATE----------
  ----------------------*/

  .postDate {
    margin: 10px 0;
    color: #9a9a9a;
    font-size: 12px;
  }


  /*----------------------------------
  ------------------------------------
  ---------------ARROWS---------------
  ------------------------------------
  ----------------------------------*/

  #newerPostsArrow, #olderPostsArrow {
    display: inline-block;
    cursor: pointer;
  }


    /*-----------------------------------
    ----------OLDER POSTS ARROW----------
    -----------------------------------*/

    #olderPostsArrow {
      float: right;
    }
